<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogger</title>
    <link rel="stylesheet" href="/style/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Caveat&family=Inter:wght@100&family=Kanit:wght@300&family=Nunito:ital,wght@1,300&family=Open+Sans:wght@300&family=Salsa&display=swap" rel="stylesheet">
</head>
<body>
    <div class="header">
        <h1>Blogger</h1>
    </div>
    <div class="content">
        <% if (locals.data){%>
            <% data.forEach((items)=>{%>
                <div class="item">
                    <div class="item-content">
                        <p><%= items.content%></p>
                    </div>
                    <div class="item-button">
                        <form action="/" method="get" id="buttons">
                            <div class="button-contain">
                                <button type="submit" class="button1" formaction="/edit/<%= items.id%>">Edit</button>
                                <button type="submit" class="button2" formaction="/del/<%= items.id%>">Delete</button>
                            </div>
                        </form>
                    </div>
                </div>
            <%});%>
        <% }%>
    </div>

    <div class="tweeter">
        <form action="/" method="post" id="forming">
            <textarea id="freeform" name="freeform" rows="0" cols="0" placeholder="Enter text here..."></textarea>
            <button type="submit" id="butsubmit" class="button3">Tweet</button>
        </form>
    </div>
</body>
</html>